<table class="table table-striped table-bordered table-responsive text-center">
	<thead class="align-middle">
		<tr>
			<th>Référence</th>
			<th>Référence client</th>
			<th>Date</th>
			<th>Status</th>
			<th>Supprimer</th>
		</tr>
	</thead>
	<tbody class="align-middle">
		<tr *ngFor="let order of orders$ | async">
			<td>{{order.orderId}}</td>
			<td>{{order.userId}}</td>
			<td>{{order.orderDate | date: "dd/MM/yyyy"}}</td>
			<td>{{order.status}}</td>
			<td><button class="btn btn-danger" (click)="deleteOrder(order.orderId!)">Supprimer</button></td>
		</tr>
	</tbody>
</table>
